
.cart {

    &__card__title {
        display: flex;
        padding: 50px 0;
        padding-right: 5%;
        font-weight: 600;
        font-size: 20px;
        letter-spacing: 0.08em;
        text-transform: uppercase;
        color: #fff;
        border-bottom: rgba(#fff, .4) 1px solid;

        &_product {
            width: 45%;
        }

        &_price {
            width: 10%;
            min-width: 110px;
            text-align: center;
        }

        &_quantity {
            width: 35%;
            text-align: center;
        }

        &_total {
            width: 15%;
            text-align: center;
        }
    }
}